/* links no geral*/
a {
    color: orangered;
    text-decoration: none; /* tira o sublinhado do link */
}
/* links já visitados */ 
a:visited {
    color: green;
    filter: brightness(50%);/*Filter não pode ser aplicado no css */ /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/:visited */
}

/* link enquanto o mause esta sobre ele */
a:hover {
    /*color: orange;*/
    filter: brightness(200%); /*cor 100% mais brilhante */
    text-decoration: underline; /*volta o sublinhado*/
}