/*CSS reset*/
* { /*todos os elementos*/
    padding: 0;
    margin: 0;
    font-family: 'calibri';
}
header {
    background-color: #550000;
    padding: 10px 20px;
}

nav ul li{
    display: inline-block;
    margin: 10px;
    
}
nav {
    background-color: #ff7f2A; /*cor do fundo*/
    color:#550000; /*cor da fonte*/
}